.topnav {
    border-radius: 12px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav a {
    transition-duration: 0.4s;

    float: left;    
    display: block;
    
    color: white;

    text-align: center;
    text-decoration: none;

    border-radius: 12px;
    padding: 14px 16px;
    font-size: 18px;
}

.topnav span {
    transition: 0.4s;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.topnav span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.topnav a.navBtn:hover {
    transition-duration: 0.4s;
    background-color: dodgerblue;
    color: white;
}

.topnav a.navBtn:hover span {
    padding-right: 25px;
}

.topnav a.navBtn:hover span::after {
    opacity: 1;
    right: 0;
}

.topnav a.navBtn.active {
    background-color: dodgerblue;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a.navBtn.language {
    float: right;
}

@media screen and (max-width: 600px) {
    .topnav a.navBtn:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.navBtn.language {
        float: right;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a.navBtn {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive a.navBtn.language{
        float: none;
    }
}