.chinese {
    font-family: "Noto Sans SC", "Comic Neue", cursive;
}

html {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
}

header {
    min-height: 48px;
}

body {
    display: grid;
    height: 100%;
    background-color: #484848;
    color: white;
}

footer {
    clear: both;
    position: relative;

    text-align: center;
    
    opacity: 50%;
    font-size: 12px;
    text-shadow: 1px 1px 2px gray ;
}

hr {
    margin: auto;
    width: 40%;
}

a {
    color: white;
}

.xein-wip {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page {
    padding: 8px 8px;
    
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

.xein-add {
    color: greenyellow;
}

.xein-fix {
    color: yellow;
}

.xein-remove {
    color: lightcoral;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
