/**
 * @name Black Stocking
 * @author Xein
 * @version 1.1
 * @description I Love Neko <3
 * @source https://github.com/HowToDoThis/DiscordStuffs
 * @website https://www.xein.xyz
 * @patreon https://www.patreon.com/xein
 * @donate https://www.paypal.com/paypalme/nkmeow
 * @invite 6rWhSuwgNP
 */

/* Credits to DevilBro for making the ThemeFixer theme. */
/* Credits to Zerthox for making the original theme. */
/* Credits to CV team for making the ClearVision theme. */

/* IMPORT CSS */
@import url(https://xeindiscord.pages.dev/xein.css);

/* SETTINGS */
:root {
    /* 主要颜色 */
    /* 主题 */
	--main-color: #2780e6;
	--hover-color: #1e63b3;
	--success-color: #43b581;
	--danger-color: #982929;
	--url-color: var(--main-color);

	/* STATUS COLORS */
	--online-color: #43b581;
	--idle-color: #faa61a;
	--dnd-color: #982929;
	--streaming-color: #593695;
	--offline-color: #808080;

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
	--text-normal: rgb(220, 221, 222);
	--text-muted:  rgb(114, 118, 125);

	/* APP BACKGROUND */
	/* 背景图 
    --background-image: url(https://clearvision.gitlab.io/images/sapphire.jpg);
    --background-shading: 100%;
	--background-overlay: rgba(0, 0, 0, 0.6);
    --background-brightness: 100%;
	--background-contrast: 100%;
	--background-saturation: 100%;
	--background-invert: 0%;
	--background-grayscale: 0%;
	--background-sepia: 0%;
	--background-blur: 0px;
    */

	/* Discord按钮 (Home键)
	--home-icon: url(https://clearvision.gitlab.io/icons/discord.svg);
	*/

	/* CHANNEL COLORS */
	--channel-unread: var(--main-color);
	--channel-color:  rgba(255,255,255,0.3);
	--channel-text-selected: #fff;
	--muted-color: rgba(255,255,255,0.1);
				
	/* THEME BD COLORS */
	--bd-blue: var(--main-color);
	--bd-blue-hover: var(--hover-color);
	--bd-blue-active: var(--hover-color);
}
